<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FormServlet</servlet-name>
  	<display-name>FormServlet</display-name>
  	<description></description>
  	<servlet-class>myproject.FormServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentRegister</servlet-name>
  	<display-name>StudentRegister</display-name>
  	<description></description>
  	<servlet-class>StudentRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>process</servlet-name>
  	<display-name>process</display-name>
  	<description></description>
  	<servlet-class>process</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>process2</servlet-name>
  	<display-name>process2</display-name>
  	<description></description>
  	<servlet-class>process2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>studentid_process</servlet-name>
  	<display-name>studentid_process</display-name>
  	<description></description>
  	<servlet-class>studentid_process</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>email_process</servlet-name>
  	<display-name>email_process</display-name>
  	<description></description>
  	<servlet-class>email_process</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>email_process1</servlet-name>
  	<display-name>email_process1</display-name>
  	<description></description>
  	<servlet-class>email_process1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>email_process2</servlet-name>
  	<display-name>email_process2</display-name>
  	<description></description>
  	<servlet-class>email_process2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibrarianRegister</servlet-name>
  	<display-name>LibrarianRegister</display-name>
  	<description></description>
  	<servlet-class>LibrarianRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibrarianCookiesServlet</servlet-name>
  	<display-name>LibrarianCookiesServlet</display-name>
  	<description></description>
  	<servlet-class>LibrarianCookiesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentCookiesServlet</servlet-name>
  	<display-name>StudentCookiesServlet</display-name>
  	<description></description>
  	<servlet-class>StudentCookiesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindLibrarianServlet</servlet-name>
  	<display-name>FindLibrarianServlet</display-name>
  	<description></description>
  	<servlet-class>FindLibrarianServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindStudentServlet</servlet-name>
  	<display-name>FindStudentServlet</display-name>
  	<description></description>
  	<servlet-class>FindStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutLibrarianServlet</servlet-name>
  	<display-name>LogoutLibrarianServlet</display-name>
  	<description></description>
  	<servlet-class>LogoutLibrarianServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowLibrarianDataServlet</servlet-name>
  	<display-name>ShowLibrarianDataServlet</display-name>
  	<description></description>
  	<servlet-class>ShowLibrarianDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibrarianChangeServlet</servlet-name>
  	<display-name>LibrarianChangeServlet</display-name>
  	<description></description>
  	<servlet-class>LibrarianChangeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutStudentServlet</servlet-name>
  	<display-name>LogoutStudentServlet</display-name>
  	<description></description>
  	<servlet-class>LogoutStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowStudentDataServlet</servlet-name>
  	<display-name>ShowStudentDataServlet</display-name>
  	<description></description>
  	<servlet-class>ShowStudentDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentChangeServlet</servlet-name>
  	<display-name>StudentChangeServlet</display-name>
  	<description></description>
  	<servlet-class>StudentChangeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminCookiesServlet</servlet-name>
  	<display-name>AdminCookiesServlet</display-name>
  	<description></description>
  	<servlet-class>AdminCookiesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateCookiesAdmin</servlet-name>
  	<display-name>CreateCookiesAdmin</display-name>
  	<description></description>
  	<servlet-class>CreateCookiesAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCookiesAdmin</servlet-name>
  	<display-name>DeleteCookiesAdmin</display-name>
  	<description></description>
  	<servlet-class>DeleteCookiesAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowBooks</servlet-name>
  	<display-name>ShowBooks</display-name>
  	<description></description>
  	<servlet-class>ShowBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckIsbnServlet</servlet-name>
  	<display-name>CheckIsbnServlet</display-name>
  	<description></description>
  	<servlet-class>CheckIsbnServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBookServlet</servlet-name>
  	<display-name>AddBookServlet</display-name>
  	<description></description>
  	<servlet-class>AddBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountStudentServlet</servlet-name>
  	<display-name>CountStudentServlet</display-name>
  	<description></description>
  	<servlet-class>CountStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintStudentsServlet</servlet-name>
  	<display-name>PrintStudentsServlet</display-name>
  	<description></description>
  	<servlet-class>PrintStudentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountAllStudents</servlet-name>
  	<display-name>CountAllStudents</display-name>
  	<description></description>
  	<servlet-class>CountAllStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountLibrariesBooks</servlet-name>
  	<display-name>CountLibrariesBooks</display-name>
  	<description></description>
  	<servlet-class>CountLibrariesBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenreBooksServlet</servlet-name>
  	<display-name>GenreBooksServlet</display-name>
  	<description></description>
  	<servlet-class>GenreBooksServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckIsbnServlet2</servlet-name>
  	<display-name>CheckIsbnServlet2</display-name>
  	<description></description>
  	<servlet-class>CheckIsbnServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeIsbnServlet</servlet-name>
  	<display-name>ChangeIsbnServlet</display-name>
  	<description></description>
  	<servlet-class>ChangeIsbnServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountAllGenre</servlet-name>
  	<display-name>CountAllGenre</display-name>
  	<description></description>
  	<servlet-class>CountAllGenre</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowSearchedBooks</servlet-name>
  	<display-name>ShowSearchedBooks</display-name>
  	<description></description>
  	<servlet-class>ShowSearchedBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindLibraryId</servlet-name>
  	<display-name>FindLibraryId</display-name>
  	<description></description>
  	<servlet-class>FindLibraryId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowBorrowedBooks</servlet-name>
  	<display-name>ShowBorrowedBooks</display-name>
  	<description></description>
  	<servlet-class>ShowBorrowedBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowBorrowRequests</servlet-name>
  	<display-name>ShowBorrowRequests</display-name>
  	<description></description>
  	<servlet-class>ShowBorrowRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeBorrowState</servlet-name>
  	<display-name>ChangeBorrowState</display-name>
  	<description></description>
  	<servlet-class>ChangeBorrowState</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletestudents</servlet-name>
  	<display-name>deletestudents</display-name>
  	<description></description>
  	<servlet-class>deletestudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintLibrariansServlet</servlet-name>
  	<display-name>PrintLibrariansServlet</display-name>
  	<description></description>
  	<servlet-class>PrintLibrariansServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletelibrarians</servlet-name>
  	<display-name>deletelibrarians</display-name>
  	<description></description>
  	<servlet-class>deletelibrarians</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllAvailableBooks</servlet-name>
  	<display-name>ShowAllAvailableBooks</display-name>
  	<description></description>
  	<servlet-class>ShowAllAvailableBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindStudentId</servlet-name>
  	<display-name>FindStudentId</display-name>
  	<description></description>
  	<servlet-class>FindStudentId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowWriteReviewBooks</servlet-name>
  	<display-name>ShowWriteReviewBooks</display-name>
  	<description></description>
  	<servlet-class>ShowWriteReviewBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reviewbook</servlet-name>
  	<display-name>reviewbook</display-name>
  	<description></description>
  	<servlet-class>reviewbook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckForBookReturn</servlet-name>
  	<display-name>CheckForBookReturn</display-name>
  	<description></description>
  	<servlet-class>CheckForBookReturn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckIsbnServlet3</servlet-name>
  	<display-name>CheckIsbnServlet3</display-name>
  	<description></description>
  	<servlet-class>CheckIsbnServlet3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBookServlet</servlet-name>
  	<display-name>DeleteBookServlet</display-name>
  	<description></description>
  	<servlet-class>DeleteBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentShowBorrowedBooks</servlet-name>
  	<display-name>StudentShowBorrowedBooks</display-name>
  	<description></description>
  	<servlet-class>StudentShowBorrowedBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAvailableBooks</servlet-name>
  	<display-name>ShowAvailableBooks</display-name>
  	<description></description>
  	<servlet-class>ShowAvailableBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitBookReview</servlet-name>
  	<display-name>SubmitBookReview</display-name>
  	<description></description>
  	<servlet-class>SubmitBookReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MakeBookBorrowAndShowThings</servlet-name>
  	<display-name>MakeBookBorrowAndShowThings</display-name>
  	<description></description>
  	<servlet-class>MakeBookBorrowAndShowThings</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllBooksToBeReturned</servlet-name>
  	<display-name>ShowAllBooksToBeReturned</display-name>
  	<description></description>
  	<servlet-class>ShowAllBooksToBeReturned</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MakeBookReturn</servlet-name>
  	<display-name>MakeBookReturn</display-name>
  	<description></description>
  	<servlet-class>MakeBookReturn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoGiveaway</servlet-name>
  	<display-name>DoGiveaway</display-name>
  	<description></description>
  	<servlet-class>DoGiveaway</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dbpedia_Spotlight</servlet-name>
  	<display-name>dbpedia_Spotlight</display-name>
  	<description></description>
  	<servlet-class>dbpedia_Spotlight.dbpedia_Spotlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>glossary</servlet-name>
  	<display-name>glossary</display-name>
  	<description></description>
  	<servlet-class>glossary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DBpedia</servlet-name>
  	<display-name>DBpedia</display-name>
  	<description></description>
  	<servlet-class>DBpedia</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WAT</servlet-name>
  	<display-name>WAT</display-name>
  	<description></description>
  	<servlet-class>mainClasses.WAT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Babelfy</servlet-name>
  	<display-name>Babelfy</display-name>
  	<description></description>
  	<servlet-class>Babelfy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LodSyndesis</servlet-name>
  	<display-name>LodSyndesis</display-name>
  	<description></description>
  	<servlet-class>LodSyndesis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindEntities</servlet-name>
  	<display-name>FindEntities</display-name>
  	<description></description>
  	<servlet-class>FindEntities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SPARQL_Query</servlet-name>
  	<display-name>SPARQL_Query</display-name>
  	<description></description>
  	<servlet-class>SPARQL_Query</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SPARQL_Query_to_Endpoint</servlet-name>
  	<display-name>SPARQL_Query_to_Endpoint</display-name>
  	<description></description>
  	<servlet-class>SPARQL_Query_to_Endpoint</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DBpediaServlet</servlet-name>
  	<display-name>DBpediaServlet</display-name>
  	<description></description>
  	<servlet-class>DBpediaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DBpediaServlet2</servlet-name>
  	<display-name>DBpediaServlet2</display-name>
  	<description></description>
  	<servlet-class>DBpediaServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WAT_TagMe</servlet-name>
  	<display-name>WAT_TagMe</display-name>
  	<description></description>
  	<servlet-class>WAT_TagMe</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PDF_Handler</servlet-name>
  	<display-name>PDF_Handler</display-name>
  	<description></description>
  	<servlet-class>PDF_Handler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PDF_H</servlet-name>
  	<display-name>PDF_H</display-name>
  	<description></description>
  	<servlet-class>PDF_H</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WATServlet</servlet-name>
  	<display-name>WATServlet</display-name>
  	<description></description>
  	<servlet-class>WATServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFile</servlet-name>
  	<display-name>MyFile</display-name>
  	<description></description>
  	<servlet-class>MyFile.MyFile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFileServlet</servlet-name>
  	<display-name>MyFileServlet</display-name>
  	<description></description>
  	<servlet-class>MyFileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFileServletDisplay</servlet-name>
  	<display-name>MyFileServletDisplay</display-name>
  	<description></description>
  	<servlet-class>MyFileServletDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreatePDFServlet</servlet-name>
  	<display-name>CreatePDFServlet</display-name>
  	<description></description>
  	<servlet-class>CreatePDFServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntityExtractionServlet</servlet-name>
  	<display-name>EntityExtractionServlet</display-name>
  	<description></description>
  	<servlet-class>EntityExtractionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntityDisplayServlet</servlet-name>
  	<display-name>EntityDisplayServlet</display-name>
  	<description></description>
  	<servlet-class>EntityDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FormServlet</servlet-name>
  	<url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentRegister</servlet-name>
  	<url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>process</servlet-name>
  	<url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>process2</servlet-name>
  	<url-pattern>/process2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>studentid_process</servlet-name>
  	<url-pattern>/studentid_process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>email_process</servlet-name>
  	<url-pattern>/email_process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>email_process1</servlet-name>
  	<url-pattern>/email_process1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>email_process2</servlet-name>
  	<url-pattern>/email_process2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibrarianRegister</servlet-name>
  	<url-pattern>/LibrarianRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibrarianCookiesServlet</servlet-name>
  	<url-pattern>/LibrarianCookiesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentCookiesServlet</servlet-name>
  	<url-pattern>/StudentCookiesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindLibrarianServlet</servlet-name>
  	<url-pattern>/FindLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindStudentServlet</servlet-name>
  	<url-pattern>/FindStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutLibrarianServlet</servlet-name>
  	<url-pattern>/LogoutLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowLibrarianDataServlet</servlet-name>
  	<url-pattern>/ShowLibrarianDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibrarianChangeServlet</servlet-name>
  	<url-pattern>/LibrarianChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutStudentServlet</servlet-name>
  	<url-pattern>/LogoutStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowStudentDataServlet</servlet-name>
  	<url-pattern>/ShowStudentDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentChangeServlet</servlet-name>
  	<url-pattern>/StudentChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCookiesServlet</servlet-name>
  	<url-pattern>/AdminCookiesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateCookiesAdmin</servlet-name>
  	<url-pattern>/CreateCookiesAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCookiesAdmin</servlet-name>
  	<url-pattern>/DeleteCookiesAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowBooks</servlet-name>
  	<url-pattern>/ShowBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckIsbnServlet</servlet-name>
  	<url-pattern>/CheckIsbnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBookServlet</servlet-name>
  	<url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountStudentServlet</servlet-name>
  	<url-pattern>/CountStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintStudentsServlet</servlet-name>
  	<url-pattern>/PrintStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountAllStudents</servlet-name>
  	<url-pattern>/CountAllStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountLibrariesBooks</servlet-name>
  	<url-pattern>/CountLibrariesBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenreBooksServlet</servlet-name>
  	<url-pattern>/GenreBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckIsbnServlet2</servlet-name>
  	<url-pattern>/CheckIsbnServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeIsbnServlet</servlet-name>
  	<url-pattern>/ChangeIsbnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountAllGenre</servlet-name>
  	<url-pattern>/CountAllGenre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowSearchedBooks</servlet-name>
  	<url-pattern>/ShowSearchedBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindLibraryId</servlet-name>
  	<url-pattern>/FindLibraryId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowBorrowedBooks</servlet-name>
  	<url-pattern>/ShowBorrowedBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowBorrowRequests</servlet-name>
  	<url-pattern>/ShowBorrowRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeBorrowState</servlet-name>
  	<url-pattern>/ChangeBorrowState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletestudents</servlet-name>
  	<url-pattern>/deletestudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintLibrariansServlet</servlet-name>
  	<url-pattern>/PrintLibrariansServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletelibrarians</servlet-name>
  	<url-pattern>/deletelibrarians</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllAvailableBooks</servlet-name>
  	<url-pattern>/ShowAllAvailableBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindStudentId</servlet-name>
  	<url-pattern>/FindStudentId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowWriteReviewBooks</servlet-name>
  	<url-pattern>/ShowWriteReviewBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reviewbook</servlet-name>
  	<url-pattern>/reviewbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckForBookReturn</servlet-name>
  	<url-pattern>/CheckForBookReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckIsbnServlet3</servlet-name>
  	<url-pattern>/CheckIsbnServlet3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBookServlet</servlet-name>
  	<url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentShowBorrowedBooks</servlet-name>
  	<url-pattern>/StudentShowBorrowedBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAvailableBooks</servlet-name>
  	<url-pattern>/ShowAvailableBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitBookReview</servlet-name>
  	<url-pattern>/SubmitBookReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MakeBookBorrowAndShowThings</servlet-name>
  	<url-pattern>/MakeBookBorrowAndShowThings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllBooksToBeReturned</servlet-name>
  	<url-pattern>/ShowAllBooksToBeReturned</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MakeBookReturn</servlet-name>
  	<url-pattern>/MakeBookReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoGiveaway</servlet-name>
  	<url-pattern>/DoGiveaway</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dbpedia_Spotlight</servlet-name>
  	<url-pattern>/dbpedia_Spotlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>glossary</servlet-name>
  	<url-pattern>/glossary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBpedia</servlet-name>
  	<url-pattern>/DBpedia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WAT</servlet-name>
  	<url-pattern>/WAT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Babelfy</servlet-name>
  	<url-pattern>/Babelfy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LodSyndesis</servlet-name>
  	<url-pattern>/LodSyndesis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindEntities</servlet-name>
  	<url-pattern>/FindEntities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SPARQL_Query</servlet-name>
  	<url-pattern>/SPARQL_Query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SPARQL_Query_to_Endpoint</servlet-name>
  	<url-pattern>/SPARQL_Query_to_Endpoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBpediaServlet</servlet-name>
  	<url-pattern>/DBpediaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBpediaServlet2</servlet-name>
  	<url-pattern>/DBpediaServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WAT_TagMe</servlet-name>
  	<url-pattern>/WAT_TagMe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PDF_Handler</servlet-name>
  	<url-pattern>/PDF_Handler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PDF_H</servlet-name>
  	<url-pattern>/PDF_H</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WATServlet</servlet-name>
  	<url-pattern>/WATServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFile</servlet-name>
  	<url-pattern>/MyFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFileServlet</servlet-name>
  	<url-pattern>/MyFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFileServletDisplay</servlet-name>
  	<url-pattern>/MyFileServletDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePDFServlet</servlet-name>
  	<url-pattern>/CreatePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntityExtractionServlet</servlet-name>
  	<url-pattern>/EntityExtractionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntityDisplayServlet</servlet-name>
  	<url-pattern>/EntityDisplayServlet</url-pattern>
  </servlet-mapping>
</web-app>
